<!-- home.component.html -->
<div
  class="relative bg-cover bg-center bg-no-repeat"
  [ngStyle]="{ 'background-image': 'url(' + heroImageUrl + ')' }"
>
  <!-- Overlay -->
  <div class="absolute inset-0 bg-secondary bg-opacity-50"></div>

  <!-- Content -->
  <div class="relative z-10 py-20 md:py-32 lg:py-48">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
      <div class="max-w-3xl">
        <h1
          class="text-white text-4xl sm:text-5xl md:text-6xl font-bold leading-tight mb-4 sm:mb-6 text-balance"
        >
          Willamette Valley Concert Band
        </h1>
        <p class="text-white text-base sm:text-lg md:text-xl mb-6 sm:mb-8">
          Experience the joy of live music with the Willamette Valley Concert
          band. Made up of musicians from the Mid-Willamette Valley, our wind
          ensemble performs a variety of classical and popular music for
          audiences of all ages.
        </p>
        <button
          class="bg-cta hover:bg-blue-700 text-white font-bold py-2 px-4 sm:py-3 sm:px-6 rounded-lg text-sm sm:text-base transition duration-300"
        >
          EMAIL LIST SIGN-UP
        </button>
      </div>
    </div>
  </div>
</div>
<div class="container mx-auto px-4 -mt-14 relative z-10 mb-14">
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 shadow-xl rounded-br-xl rounded-tl-xl"
  >
    <!-- Events Card -->
    <a
      href="/events"
      class="bg-white p-8 flex flex-col items-center text-center hover:bg-gray-50 transition-colors duration-300"
    >
      <svg
        class="w-12 h-12 text-blue-500 mb-4"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
        ></path>
      </svg>
      <h2 class="text-xl font-bold mb-3">Events</h2>
      <p class="text-gray-600 mb-6">
        Stay up-to-date with our upcoming events! Click here to see where we'll
        be performing next.
      </p>
      <svg
        class="w-6 h-6 text-blue-500"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </a>

    <!-- Members Area Card -->
    <a
      href="/members"
      class="bg-white p-8 flex flex-col items-center text-center hover:bg-gray-50 transition-colors duration-300"
    >
      <svg
        class="w-12 h-12 text-blue-500 mb-4"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
        ></path>
      </svg>
      <h2 class="text-xl font-bold mb-3">Members Area</h2>
      <p class="text-gray-600 mb-6">
        Band members can access exclusive content and information. Click here to
        log in to the members area.
      </p>
      <svg
        class="w-6 h-6 text-blue-500"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </a>

    <!-- Join Us Card -->
    <a
      href="/join"
      class="bg-white p-8 flex flex-col items-center text-center hover:bg-gray-50 transition-colors duration-300"
    >
      <svg
        class="w-12 h-12 text-blue-500 mb-4"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z"
        ></path>
      </svg>
      <h2 class="text-xl font-bold mb-3">Join us</h2>
      <p class="text-gray-600 mb-6">
        Are you a talented musician looking to join a welcoming and dedicated
        ensemble? Click here to find out how.
      </p>
      <svg
        class="w-6 h-6 text-blue-500"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </a>

    <!-- Support the Band Card -->
    <div
      class="bg-blue-500 p-8 flex flex-col items-center text-center text-white"
    >
      <h2 class="text-2xl font-bold mb-4">Support the Band</h2>
      <p class="mb-8">
        Help us bring live music to the Willamette Valley! Click here to find
        out how you can support the Willamette Valley Concert Band.
      </p>
      <a
        href="/donate"
        class="bg-white text-blue-500 font-bold py-2 px-4 rounded hover:bg-blue-100 transition-colors duration-300"
      >
        DONATE →
      </a>
    </div>
  </div>
</div>

<app-about-us></app-about-us>
<app-sponsor></app-sponsor>
