<nav class="bg-wvcbgrey text-white font-bold">
  <div class="container mx-auto px-4">
    <div class="flex justify-between items-center py-4">
      <div class="flex items-center">
        <img [src]="logoUrl" alt="WVCB Logo" class="h-12 w-auto mr-4" />
      </div>
      <div class="hidden md:flex items-center space-x-4">
        <ng-container *ngFor="let item of navItems">
          <a
            [routerLink]="item.route"
            routerLinkActive="text-blue-500"
            class="hover:text-blue-300 transition duration-300"
          >
            {{ item.label }}
          </a>
        </ng-container>
        <a
          [routerLink]="donateItem.route"
          class="bg-cta text-white px-4 py-2 rounded-lg hover:bg-opacity-90 transition duration-300 ml-4"
        >
          {{ donateItem.label }}
        </a>
      </div>
      <div class="md:hidden">
        <button (click)="(toggleMenu)" class="text-white focus:outline-none">
          <svg
            class="w-6 h-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              strokeLinecap="round"
              strokeLinejoin="round"
              strokeWidth="2"
              d="M4 6h16M4 12h16M4 18h16"
            ></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!-- Mobile menu -->
  <div *ngIf="isMenuOpen" class="md:hidden">
    <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
      <ng-container *ngFor="let item of navItems">
        <a
          [routerLink]="item.route"
          routerLinkActive="bg-gray-900 text-white"
          class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
        >
          {{ item.label }}
        </a>
      </ng-container>
      <a
        [routerLink]="donateItem.route"
        class="bg-cta text-white block px-3 py-2 rounded-md text-base font-medium"
      >
        {{ donateItem.label }}
      </a>
    </div>
  </div>
</nav>
