<!-- forgot-password.component.html -->
<div
  class="min-h-screen bg-offwhite flex justify-center py-12 px-4 sm:px-6 lg:px-8"
>
  <div class="max-w-md w-full space-y-8">
    <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-secondary">
        Forgot Password
      </h2>
      <p class="mt-2 text-center text-sm text-wvcbgrey">
        Enter your email address and we'll send you a link to reset your
        password.
      </p>
    </div>
    <form
      class="mt-8 space-y-6"
      [formGroup]="forgotPasswordForm"
      (ngSubmit)="onSubmit()"
    >
      <div>
        <label for="email" class="sr-only">Email address</label>
        <input
          id="email"
          name="email"
          type="email"
          formControlName="email"
          required
          class="appearance-none rounded relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-secondary focus:outline-none focus:ring-custom-blue-500 focus:border-custom-blue-500 focus:z-10 sm:text-sm"
          placeholder="Email address"
        />
      </div>

      <div
        *ngIf="message"
        [ngClass]="{
          'bg-green-100 border-green-500 text-green-700': isSuccess,
          'bg-red-100 border-red-500 text-red-700': !isSuccess
        }"
        class="border-l-4 p-4 mb-4"
        role="alert"
      >
        <p>{{ message }}</p>
      </div>

      <div>
        <button
          type="submit"
          [disabled]="!forgotPasswordForm.valid || isLoading"
          class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-cta hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-custom-blue-500 disabled:opacity-50 disabled:cursor-not-allowed"
        >
          <span
            *ngIf="isLoading"
            class="absolute left-0 inset-y-0 flex items-center pl-3"
          >
            <!-- You can add a loading spinner here -->
            <svg
              class="animate-spin h-5 w-5 text-white"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"
              ></circle>
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
              ></path>
            </svg>
          </span>
          {{ isLoading ? "Sending..." : "Send Reset Link" }}
        </button>
      </div>
    </form>
  </div>
</div>
